<div class="noms-grid">
    <h1 class="greet-user">Hello, <%= @profile.first_name %></h1>
    <div class="calorie-display">
        <h1>
            <span class="anim-bounce-in anim-duration-800" tooltip="You have nom'd this much today" tooltip-position="left"><%= @profile.calories_consumed_today() %></span>
            /  
            <span tooltip="This is the total you can nom today" tooltip-position="right"><%= (@profile.calculate_bmr * @profile.physical_activity_level().bmr_multiplier).to_i %></span>
        </h1>
        <p>Remaining</p>
        <p class="anim-bounce-in anim-duration-800" tooltip="You can nom this much" tooltip-position="left"><%= @profile.remaining_calories() %></p>
    </div>
    <form class="add-calories" id="calories-form" action="/track" method="post"  tooltip="Add your food" tooltip-position="top">
        <input id="profile-id"  name="profile_id" type="hidden" value="<%= @profile.id %>"/>
        <label class="food-name" for="food-name">Name</label>
        <input id="food-name"  name="food_name" type="text" list="foods" autocomplete="off" required/>
        <datalist id="foods">
            <% for food in @foods %>
                <option><%= food.food_name %></option>
            <% end %>
        </datalist>
        <label class="food-weight" for="food-weight">Weight (g)</label>
        <input id="food-weight"  name="weight" type="number" />
        <label class="food-calories" for="food-calories">Calories</label>
        <input id="food-calories"  name="calories" type="number" />
        <button class="button-normal nom-button border-radius-12px font-size-2 button-vibrate" form="calories-form" type="submit" name="button">Nom</button>
    </form>
</div>


