<div class="noms-grid">
    <div class="calorie-display">
        <h1>
            <span class="anim-bounce-in anim-duration-800" tooltip="You have nom'd this much today" tooltip-position="left"><%= @profile.calories_consumed_today() %></span>
            /  
            <span class="anim-bounce-in anim-duration-800" tooltip="This is the total you can nom today" tooltip-position="right"><%= (@profile.calculate_bmr * @profile.physical_activity_level().bmr_multiplier).to_i %></span>
        </h1>
        <p>Remaining</p>
        <p class="anim-bounce-in anim-duration-800" tooltip="You can nom this much" tooltip-position="left"><%= @profile.remaining_calories() %></p>
    </div>
    
    <form class="add-calories" id="add-form" action="/track/add-food" method="post" >
        <input id="profile-id"  name="profile_id" type="hidden" value="<%= @profile.id %>"/>        
        <p class="add-label font-size-1">Add Food</p>
        <label class="food-name" for="food-name">Name</label>
        <input class="font-size-0" id="food-name"  name="food_name" type="text" list="food_logs" autocomplete="off" required/>
        <datalist id="food_logs">
            <% for food in @foods %>
                <option><%= food.food_name %></option>
            <% end %>
        </datalist>
        <label class="meal-time" for="meal-time">Meal</label>
        <select class="font-size-0" id="meal-time"  name="meal_time" type="text">
            <option>TEST</option>
        </select>
        <label class="food-weight" for="food-weight">Weight (g)</label>
        <input class="font-size-0" id="food-weight"  name="weight" type="number" />
        <label class="food-calories" for="food-calories">Calories</label>
        <input class="font-size-0" id="food-calories"  name="calories" type="number" />
        <button class="button-normal nom-button border-radius-12px font-size-1 button-vibrate" form="add-form" type="submit">Nom</button>
    </form>

    <div class="entries-today">
        <table>
            <tr>
                <th colspan="5" cellspacing="0">Today</th>
            </tr>
            <tr>
                <th>Food</th>
                <th>Weight</th>
                <th>Calories</th>
                <th>Time</th>
                <th></th>
            </tr>
            <% for food_log in @food_logs_today %>
                <tr row-color="<%= @row_no % 2 == 0 ? "norm" : "alt" %>">
                    <td><%= food_log.get_food().food_name %></td>
                    <td><%= food_log.weight %></td>
                    <td><%= food_log.calories %></td>
                    <td><%= food_log.timestamp %></td>
                    <td>
                    <form action="/track/<%= food_log.id %>" method="post">
                        <section>
                            <input id="hidden" type="hidden" name="_method" value="DELETE">
                        </section>
                    <button class="button-danger border-radius-12px button-vibrate button-wee" type="submit" tooltip="THIS IS PERMANENT" tooltip-position="top">Delete</button>
                    </td>
                </tr>
                <% @row_no += 1 %>
            <% end %>
        </table>
    </div>
</div>


