<!DOCTYPE html>
<html>
    <head>
        <link href="/style.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <title>Nom Nom Nom</title>
    </head>
    <body>
    <div class="banner">
        <div>
            <h1>Nom Nom Nom</h1>
        </div>
    </div>
    <nav class="navigation" role="full-horizontal">
        <ul class="nav-menu">
            <% if !request.fullpath.match?(/welcome|create/) %>
                <li>
                    <a class="<%= "navigation-current" if request.fullpath.match?(/track/)%>" href="/track">Track</a>
                </li>
                <li class="nav-dropdown-menu">
                    <a class="<%= "navigation-current" if request.fullpath.match?(/profile/)%>">Profile</a>
                    <ul class="nav-submenu">
                        <li><p><a class="<%= "navigation-current" if request.fullpath.match?(/profile/)%>" href="/profile/<%= session[:profile_id] %>/edit">Edit</a></p></li>
                        <li><p><a class="<%= "navigation-current" if request.fullpath.match?(/setting/)%>" href="#">Soon! <label class="text-strike">Settings</label></a></p></li>
                    </ul>
                </li>
            <% end %>  
            </ul>
    </nav>
    <div class="container">
        <%= yield %>
    </div>
    </body>
</html>