<!DOCTYPE html>
<html>
    <head>
        <link href="/style.css" rel="stylesheet" type="text/css" />
        <title>Calories Tracker</title>
    </head>
    <body>
    <div class="banner">
        <div>
            <h1>Nom Nom Nom</h1>
        </div>
    </div>
    <nav class="navigation" role="full-horizontal">
        <ul class="nav-menu">
            <% if !request.fullpath.match?(/welcome|create/) %>
                <li>
                    <a class="<%= "navbar-current" if request.fullpath.match?(/calories/)%>" href="/calories">Track</a>
                </li>
                <li class="nav-dropdown-menu">
                    <a class="<%= "navbar-current" if request.fullpath.match?(/profile/)%>"> Profile</a>
                    <ul class="nav-submenu">
                        <li><p><a class="<%= "navbar-current" if request.fullpath.match?(/profile/)%>" href="/profile/<%= session[:profile_id] %>/edit">Edit</a></p></li>
                    </ul>
                </li>
            <% end %>  
            </ul>
    </nav>
    <%= yield %>
    </body>
</html>