
<div class="profile-edit">
    <h1>Edit profile</h1>
    <form id="edit-form" action="/profile/<%= @profile.id %>" method="post">
        <input type="hidden" name="_method" value="PATCH">
        <label for="first-name">First Name</label>
        <section>
            <input id="first-name"  name="first_name" type="text" value=<%= @profile.first_name %>>
        </section>
        <label for="last-name">Last Name</label>
        <section>
            <input id="last-name"  name="last_name" type="text" value=<%= @profile.last_name %>>
        </section>
        <label for="date-of-birth">Date of Birth *</label>
        <section>
            <input id="date-of-birth"  name="date_of_birth" type="date"  value=<%= @profile.date_of_birth %>>
        </section>
        <label for="height">Height (cm) *</label>
        <section>
            <input id="height"  name="height" type="text" value=<%= @profile.height %>>
        </section>
        <label for="weight">Weight (kg) *</label>
        <section>
            <input id="weight"  name="weight" type="text" value=<%= @profile.weight %>>
        </section>
        <label for="physical-activity-level-id">Activity Level *</label>
        <section>
            <select id="physical-activity-level-id"  name="physical_activity_level_id" type="text">
                <option selected disabled>Please Select</option>
                <% for pal in @physical_activity_levels do %>
                    <option id="physical-activity-level-id" name="physical_activity_level_id" value="<%= pal.id %>" <%= "selected" if pal.id == @profile.physical_activity_level_id %>>
                        <%= pal.physical_activity_level%>
                    </option>
                <% end %>
            </select>
        </section>
        <button class="button-normal border-radius-12px button-vibrate font-size-1 margin-top-6" form="edit-form" type="submit" name="button">Update</button>
    </form>
    <form action="/profile/<%= @profile.id %>" method="post">
        <section>
            <input id="hidden" type="hidden" name="_method" value="DELETE">
        </section>
        <button class="button-danger border-radius-12px button-vibrate font-size-1 margin-top-6" type="submit" tooltip="THIS IS PERMANENT" tooltip-position="top">Delete</button>
    </form>
</div>
